<div class="col-10 offset-1 about">
  <h1>About this site:</h1>

  <p>
    This is a Steven Universe quote generator created by Michael Soileau. You can add your own favorite Steven Universe quotes by clicking on "Contribute".
  </p>

  <br />

  <p>The font used in the quotes is "Crewniverse", created by DeviantArt user <a href="http://maxigamer.deviantart.com">MaxiGamer</a>.</p>

  <br />

  <div class="row">
    <!-- <div class="col-12 col-sm-4">
    </div> -->


  <br class="clear">

  <br />
  <br />
  <br />
  <br />
  <br />



</div>