// Place all the styles related to the lessons controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.lessons li {
  background: black;
  color: white;
  margin: 10px;
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
  font-weight: 100;
  padding: 8px;
  font-size: 15px;
}

.lessons li b {
  font-size: 25px;
}

.lessons li p {
  margin: 0;
}

.lessons .fa {
  font-size: 40px;
}